body {
    font-family: system-ui;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section {
    margin: 10px auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 300px;
    height: 300px;
}

.cell {
    border: 2px solid white;
    background-color: rgb(1, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: 0.2s;
}

.cell:hover {
    filter: brightness(50);
}